:root {
	--main-yellow-color: #fccb0b;
}

/* all reset settings */
* {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
}
a {
	color: inherit;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

html {
	height: 100%;
}

body {
	height: 100%;
}

.material-icons {
	vertical-align: middle;
}

/* root stuff */
#root {
	height: 100%;
}

#root > div {
	transition: opacity 150ms ease;
	opacity: 0;
	display: none;
}


/* tooltip css */
[tooltip] {
	position: relative;
	display: inline-block;
}

[tooltip]::after {
	content: attr(tooltip);
	position: absolute;
	left: 50%;
	background: rgba(0, 0, 0, .42);
	text-align: center;
	color: #fff;
	min-width: 60px;
	border-radius: 3px;
	font-size: 12px;
	pointer-events: none;
	padding: 4px 4px;
	z-index: 5;
	opacity: 0;
	top: 85%;
	margin-top: 8px;
	transform: translateX(-50%) translateY(0%);
	transition: opacity 150ms ease;
}

[tooltip]:hover::after,
[tooltip]:hover::before {
	opacity: 1
}

/* animations */

@keyframes updatePeriod {
	from {
		opacity: 0;
		transform: translate3d(0, 100%, 0);
	}

	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}