:root {
	--main-yellow-color: #fccb0b;
}

/* all reset settings */
* {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
}
a {
	color: inherit;
	text-decoration: none;
	border-bottom: 3px solid var(--main-yellow-color);
	transition: padding .2s ease;
	cursor: pointer;
}
a:hover {
	padding-bottom: 3px;
}

html {
	height: 100%;
}

body {
	height: 100%;
}

input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

.material-icons {
	vertical-align: middle;
}

/* root stuff */
#root {
	height: 100%;
}

#root > div {
	transition: opacity 150ms ease;
	opacity: 0;
	display: none;
}

/* preloader css */


#preloader {
	position: fixed;
	background: #050505;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 100;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	display: block;
	transition: opacity 2s ease;
}

#preloader > div {
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -30px 0 0 -30px;
	width: 60px;
	height: 60px;
	transition: opacity 0.3s ease;
}

#preloader > div > svg {
	animation: preloader-rotate 2s linear infinite;
	height: 100%;
	transform-origin: center center;
	width: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

#preloader > div > svg > circle {
	stroke-dasharray: 1, 200;
	stroke-dashoffset: 0;
	animation: preloader-dash 1.5s ease-in-out infinite, preloader-color 6s ease-in-out infinite;
	stroke-linecap: round;
}

@keyframes preloader-rotate {
	100% {
		transform: rotate(360deg);
	}
}

@keyframes preloader-dash {
	0% {
		stroke-dasharray: 1, 200;
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -35px;
	}
	100% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -124px;
	}
}

@keyframes preloader-color {
	100%,
	0% {
		stroke: #d62d20;
	}
	40% {
		stroke: #0057e7;
	}
	66% {
		stroke: #008744;
	}
	80%,
	90% {
		stroke: #ffa700;
	}
}


/* tooltip css */
[tooltip] {
	position: relative;
	display: inline-block;
}

[tooltip]::after {
	content: attr(tooltip);
	position: absolute;
	left: 50%;
	background: rgba(0, 0, 0, .42);
	text-align: center;
	color: #fff;
	min-width: 65px;
	border-radius: 3px;
	font-size: 12px;
	pointer-events: none;
	padding: 4px 4px;
	z-index: 5;
	opacity: 0;
	top: 85%;
	margin-top: 8px;
	transform: translateX(-50%) translateY(0%);
	transition: opacity 150ms ease;
	transition-delay: 250ms;
}

[tooltip]:hover::after,
[tooltip]:hover::before {
	opacity: 1;
}

/* animations */

@keyframes updatePeriod {
	from {
		opacity: 0;
		transform: translate3d(0, 100%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

@keyframes colorChange {
	0% {
		border-color: #d62d20;
	}
	25% {
		border-color: #0057e7;
	}
	50% {
		border-color: #008744;
	}
	75% {
		border-color: #ffa700;
	}
	100% {
		border-color: red;
	}
}


/* material form */

.material-form {
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
}
.material-input-group {
	position: relative;
	margin: auto;
	margin-bottom: 60px;
}
.material-form input, .material-form textarea {
	position: relative;
	z-index: 1;
	width: 100%;
	height: 35px;
	font-size: 16px;
	border: none;
	border-bottom: 1px solid #d9d9d9;
	background-color: transparent;
	border-radius: 0;
}
.material-form input:disabled, .material-form input:disabled + label {
	cursor: not-allowed;
}
.material-form input:focus, .material-form textarea:focus {
	outline: none;
	border-width: 2px;
	border-color: #4285f4;
	transition: all .2s ease-out;
}
.has-value:valid + label {
	top: -15px;
	color: #757575;
	font-size: 12px;
}
.material-form-control:focus + label {
	top: -15px;
	color: #4285f4;
	font-size: 12px;
}
.material-form-control + label {
	position: absolute;
	top: 10px;
	left: 3px;
	font-size: 16px;
	color: #999999;
	transition: all .2s ease-out;
	z-index: 2;
	cursor: text;
	user-select: none;
}
.material-form-button {
	background-color: /*#4285f4*/var(--main-yellow-color);
	color: /*#fff*/#000;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 500;
	border: none;
	height: 36px;
	padding: 0 16px;
	border-radius: 2px;
	box-shadow:0 1px 3px #999999;
	outline: none;
	font-family: 'Roboto', sans-serif;
	cursor: pointer;
}

.material-form-button:disabled {
	background: #a6a6a6;
	cursor: not-allowed;
}

.material-form select {
	display: block;
	background: #eaeaea;
	color: #000;
	border: none;
	border-radius: 0;
	padding: 2px 15px 2px 10px;
	cursor: pointer;
	margin: 0;
	width: 250px;
	height: 30px;
	font-size: 16px;
	outline: none;
}

.material-form select:disabled {
	cursor: not-allowed;
}
