/* all reset settings */
* {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
}
a {
	color: inherit;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

/* canvas and canvas container */

#main-canvas-container {
	position: relative;
}
#main-canvas, #main-canvas-overlay {
	position: absolute;
}
#main-canvas-overlay {
	width: 100%;
}

#day-type {
	font-family: 'Product Sans';
}

#current-period-text {
	font-family: 'Product Sans';
}