#settings {
	padding: 40px;
}

#settings #title {
	font-size: 82px;
	color: black;
	padding: 4px;
	font-weight: bold;
	display: inline-block;
}

#settings #close-button {
	color: #949494;
	display: inline-block;
	float: right;
	cursor: pointer;
	padding: 8px;
    border-radius: 50%;
    transition: all 0.1s ease;
}

#settings #close-button > i {
	font-size: 52px;
}

#settings #close-button:hover {
	background: #e4e4e4;
	color: #8c8c8c;
}

#settings #close-button:active {
	background: #bdbdbd;
	color: #636262;
}

#settings .underlineAnimation {
	background-image: linear-gradient(120deg, #fccb0b 0%, #fc590bad 100%);
	background-repeat: no-repeat;
	background-size: 100% 20px;
	background-position: 0 86%;
	animation: settingsUnderlineAnimate 2s cubic-bezier(0.67, 0.24, 0.22, 0.96);
}

@keyframes settingsUnderlineAnimate {
	0% {
		background-size: 0 0;
	}
	30% {
		background-size: 0 0;
	}
	60% {
		background-size: 100% 100%;
	}
	90% {
		background-size: 100% 100%;
	}
	100% {
		background-size: 100% 20px;
	}
}