#settings {
	padding: 40px;
}

#settings #title {
	font: 88px 'Product Sans';
	color: black;
	padding: 4px;
	font-weight: bold;
	display: inline-block;
	user-select: none;
}

#settings #settings-close {
	color: #949494;
	display: inline-block;
	float: right;
	cursor: pointer;
	padding: 8px;
	border-radius: 50%;
	transition: all 0.1s ease;
}

#settings #settings-close > i {
	font-size: 52px;
}

#settings #settings-close:hover {
	background: #e4e4e4;
	color: #8c8c8c;
}

#settings #settings-close:active {
	background: #bdbdbd;
	color: #636262;
}

#settings .underlineAnimation {
	background-image: linear-gradient(120deg, #fccb0b 0%, #fc590bad 100%);
	/*background-image: linear-gradient(120deg, #fccb0b 0%, #fccb0b 100%);*/
	background-repeat: no-repeat;
	background-size: 100% 20px;
	background-position: 0 86%;
	animation: settingsUnderlineAnimate 2s cubic-bezier(0.67, 0.24, 0.22, 0.96);
}

@keyframes settingsUnderlineAnimate {
	0% {
		background-size: 0 0;
	}
	30% {
		background-size: 0 0;
	}
	60%, 90% {
		background-size: 100% 100%;

	}
	100% {
		background-size: 100% 20px;
	}
}


/* actual settings config css */

#settings #changes-saved {
	margin-top: 50px;
	margin-left: 1.5%;
	padding: 8px;
	background: #e0e0e0;
	display: inline-block;
	border-radius: 4px;
	transition: all 0.6s ease;
	user-select: none;
}

#settings #changes-saved > span {
	text-transform: uppercase;
	color: #525252;
	font-size: 14px;
}

#settings #choose-settings {
	margin-top: 50px;
}

#settings .container {
	width: 100%;
	margin: 0 auto;
}

#settings .third {
	width: 30%;
	margin: 0 1.5%;
	display: inline-block;
}


#settings #save-settings-button {
	width: 160px;
	transition: 0.4s ease all;
}