#settings {
	padding: 40px;
}

#settings #title {
	font: 88px 'Product Sans';
	color: black;
	padding: 4px;
	font-weight: bold;
	display: inline-block;
	user-select: none;
}

#settings #settings-close {
	color: #949494;
	display: inline-block;
	float: right;
	cursor: pointer;
	padding: 8px;
	border-radius: 50%;
	transition: all 0.1s ease;
	user-select: none;
}

#settings #settings-close > i {
	font-size: 52px;
}

#settings #settings-close:hover {
	background: #e4e4e4;
	color: #8c8c8c;
}

#settings #settings-close:active {
	background: #bdbdbd;
	color: #636262;
}

@keyframes settingsUnderlineAnimation {
	0% {
		background-size: 0 0;
	}
	30% {
		background-size: 0 0;
	}
	60% {
		background-size: 100% 100%;
	}
	90% {
		background-size: 100% 100%;
	}
	100% {
		background-size: 100% 20px;
	}
}

#settings .underlineAnimation {
	background-image: linear-gradient(120deg, #fccb0b 0%, #fc590bad 100%);
	background-repeat: no-repeat;
	background-size: 100% 20px;
	background-position: 0 86%;
	animation: settingsUnderlineAnimation 2s cubic-bezier(0.67, 0.24, 0.22, 0.96);
}


/* actual settings config css */

#settings #changes-saved {
	margin-top: 30px;
	margin-left: 1.5%;
	padding: 8px;
	background: #e0e0e0;
	display: inline-block;
	border-radius: 4px;
	transition: all 0.6s ease;
	user-select: none;
	min-width: 235px;
}

#settings #changes-saved > span {
	text-transform: uppercase;
	color: #525252;
	font-size: 14px;
}

#settings #choose-settings {
	margin: 40px 0;
}

#settings #save-settings-button {
	width: 160px;
	transition: background 0.2s ease;
	margin: auto;
	display: block;
}

#settings .container {
	width: 100%;
	margin: 0 auto;
	display: flex;
}

#settings .third {
	padding: 0 1.5%;
	flex: 1;
}

#settings .theme-example {
	margin: 20px 0;
	font-size: 20px;
	background: #ccc;
	padding: 8px;
	border-radius: 4px;
	user-select: none;
	transition: all 0.3s ease;
}

#settings #theme-selector {
	font-size: 20px;
}

#settings #free-period {
	text-decoration: line-through;
}

#settings .section-title {
	font-weight: bold;
	font-size: 36px;
	margin-bottom: 30px;
	font-family: 'Product Sans';
}

#settings #please-sign-in {
	padding: 8px;
	background: #e0e0e0;
	border-radius: 4px;
	display: inline-block;
	margin: 16px 0 0 0;
	color: #525252;
	font-size: 14px;
	margin-left: 1.5%;
}

@media (max-width: 750px) {
	#settings .container {
		flex-direction: column;
	}
	#settings {
		padding: 15px;
	}
	#settings #title {
		font-size: 70px;
	}
}

@media (min-width: 750px) {
	#settings .third:nth-child(2) {
		border-left: 2px solid #ccc;
	}
}

