#index #main-canvas-container {
	position: relative;
}
#index #main-canvas, #index #main-canvas-overlay {
	position: absolute;
}
#index #main-canvas-overlay {
	width: 100%;
}

#index #left-corner {
	bottom: 0;
	left: 0;
	position: fixed;
	padding: 50px;
	user-select: none;
}

#index #left-corner-status {
	font-size: 50px;
	padding-left: 15px;
	font-family: 'Product Sans';
}

#index #day-type {
	font-family: 'Product Sans';
	cursor: pointer;
}

#index #day-type:hover {
	text-decoration: underline;
}

#index #current-period-text {
	font-family: 'Product Sans';
	display: inline-block;
}

#index #time-left {
	font-size: 230px;
	display: block;
}

#index #google-signin {
	top: 0;
	right: 0;
	position: fixed;
	padding: 45px;
	user-select: none;
}

#index #google-signin > button {
	background: #1a73f6;
	font-family: 'Product Sans';
	border-radius: 8px;
	border: 0;
	outline: 0;
	color: #fff;
	padding: 12px 26px;
	float: right;
	display: inline-block;
	font-size: 16px;
	transition: .2s background ease;
	cursor: pointer;
}

#index #google-signin > button:hover {
	background: #1362ca;
}

#index #google-signin > div > img {
	cursor: pointer;
	display: none;
	border-radius: 50%;
	width: 70px;
	height: 70px;
	box-shadow: 0px 2px 10px 0 rgba(0,0,0,0.14), 0 1px 0px 0 rgba(0,0,0,0.12), 0px 2px 2px 0px rgba(0,0,0,0.2);
}

#index #google-signin > div > img:hover {
	opacity: 0.80;
}

#index #settings-button {
	bottom: 0;
	right: 0;
	padding: 45px;
	position: fixed;
}

#index #settings-button > div {
	border-radius: 50%;
	padding: 18px;
	cursor: pointer;
	box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14),0 1px 18px 0 rgba(0,0,0,0.12),0 3px 5px -1px rgba(0,0,0,0.2);
	transition: all 0.2s ease;
}

#index #settings-button > div:hover {
	box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14),0 3px 14px 2px rgba(0,0,0,0.12),0 5px 5px -3px rgba(0,0,0,0.2);
	opacity: .88;
}

#index #settings-button > div > i {
	color: black;
	font-size: 40px;
	cursor: pointer;
	user-select: none;
}

/* table stuff */
#index #schedule-table {
	width: 250px;
	background: #fff;
	position: absolute;
	border-radius: 8px;
	bottom: 95%;
	z-index: 10;
	box-shadow: 0 0 100vmax 100vmax rgba(0,0,0,0.6);
	padding: 20px;
	white-space: nowrap;
	transition: opacity 0.4s ease;
	opacity: 0;
	display: none;
}

#index #schedule-table:after {
	content:'';
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 0;
	height: 0;
	border-top: solid 10px #fff;
	border-left: solid 10px transparent;
	border-right: solid 10px transparent;
}

#index #schedule-table > span {
	text-align: center;
	color: black;
	font-weight: bold;
	font-size: 30px;
	margin: 0;
	display: block;
}

#index #schedule-table > table {
	margin: 0 auto;
	margin-top: 20px;
}

#index #schedule-table > table > tbody > tr > td {
	padding: 12px;
	font-size: 15px;
	color: #000;
}

@media (max-width: 375px) {
	#index #google-signin {
		padding: 25px;
	}
}