#preloader {
	position: fixed;
	background: #050505;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 100;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	display: block;
	transition: opacity .8s ease;
}

#preloader > div {
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -30px 0 0 -30px;
	width: 60px;
	height: 60px;
	transition: opacity 0.3s ease;
}

#preloader > div > svg {
	animation: preloader-rotate 2s linear infinite;
	height: 100%;
	transform-origin: center center;
	width: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

#preloader > div > svg > circle {
	stroke-dasharray: 1, 200;
	stroke-dashoffset: 0;
	animation: preloader-dash 1.5s ease-in-out infinite, preloader-color 6s ease-in-out infinite;
	stroke-linecap: round;
}

@keyframes preloader-rotate {
	100% {
		transform: rotate(360deg);
	}
}

@keyframes preloader-dash {
	0% {
		stroke-dasharray: 1, 200;
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -35px;
	}
	100% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -124px;
	}
}

@keyframes preloader-color {
	100%,
	0% {
		stroke: #d62d20;
	}
	40% {
		stroke: #0057e7;
	}
	66% {
		stroke: #008744;
	}
	80%,
	90% {
		stroke: #ffa700;
	}
}