[tooltip] {
	position: relative;
	display: inline-block;
}

[tooltip]::after {
	content: attr(tooltip);
	position: absolute;
	left: 50%;
	background: rgba(0, 0, 0, .42);
	text-align: center;
	color: #fff;
	min-width: 65px;
	border-radius: 3px;
	font-size: 12px;
	pointer-events: none;
	padding: 4px 4px;
	z-index: 5;
	opacity: 0;
	top: 85%;
	margin-top: 8px;
	transform: translateX(-50%) translateY(0%);
	transition: opacity 150ms ease;
	transition-delay: 250ms;
}

[tooltip]:hover::after,
[tooltip]:hover::before {
	opacity: 1;
}