@import url('https://fonts.googleapis.com/css?family=Roboto:400,700|Material+Icons|Product+Sans');

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
}
a {
	color: inherit;
	text-decoration: none;
	transition: padding 150ms ease;
	cursor: pointer;
	border-bottom: 2px solid #fccb0b;
}

a:hover {
	padding-bottom: 2px;
}

input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

.material-icons {
	vertical-align: middle;
}

.title {
  font: 88px 'Product Sans';
  color: black;
  padding: 4px;
  margin-top: 16px;
  margin-left: 14px;
  font-weight: bold;
  display: inline-block;
  user-select: none;
  background-image: linear-gradient(120deg, #fccb0b 0%, #fc590bad 100%);
  background-repeat: no-repeat;
  background-size: 100% 20px;
  background-position: 0 86%;
  border-radius: 15px;
  animation: settingsUnderlineAnimation 2s cubic-bezier(0.67, 0.24, 0.22, 0.96);
}

@keyframes settingsUnderlineAnimation {
  0% {
    background-size: 0 0;
  }
  30% {
    background-size: 0 0;
  }
  60% {
    background-size: 100% 100%;
  }
  90% {
    background-size: 100% 100%;
  }
  100% {
    background-size: 100% 20px;
  }
}

@media only screen and (max-width: 500px) {
  .title {
    background: none;
    animation: none;
    font-size: 70px;
  }
}

/* loading animation */

.loader {
  width: 140px;
  height: 140px;
  perspective: 168px;
  border-radius: 100%;
  position: relative;
  margin: 0 auto;
}

.loader:before {
  content: "";
  position: absolute;
  left: 35px;
  top: 35px;
  width: 70px;
  height: 70px;
  background-color: #f17600;
  animation: flip 1s infinite;
}

@keyframes flip {
  0% {
    transform: rotate(0);
  }

  50% {
    transform: rotateY(180deg);
  }

  100% {
    transform: rotateY(180deg) rotateX(180deg);
  }
}

/* input forms */
.material-input-group {
  position: relative;
  margin: auto;
  margin-bottom: 60px;
}
.material-input {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 35px;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #d9d9d9;
  background-color: transparent;
  border-radius: 0;
}
.material-input:disabled {
  cursor: not-allowed;
}
.material-input:focus {
  outline: none;
  border-width: 2px;
  border-color: #f17600;
  transition: all .2s ease-out;
}
.has-value:valid + label {
  top: -15px;
  color: #757575;
  font-size: 12px;
}
.material-input:focus + label {
  top: -15px;
  color: #f17600;
  font-size: 12px;
}
.material-input + label {
  position: absolute;
  top: 10px;
  left: 3px;
  font-size: 16px;
  color: #999999;
  transition: all .2s ease-out;
  z-index: 2;
  cursor: text;
  user-select: none;
}

.material-form-button {
  background: #fccb0b;
  color: #000;
  font-size: 14px;
  font-weight: 500;
  border: none;
  height: 36px;
  padding: 0 16px;
  border-radius: 4px;
  outline: none;
  font-family: 'Product Sans', 'Roboto', sans-serif;
  cursor: pointer;
  width: 160px;
  transition: background 0.2s ease;
  margin: auto;
  display: block;
}

.material-form-button:hover {
  box-shadow: 0 1px 1px 0 rgba(252, 203, 11, 0.45), 0 1px 3px 1px rgba(252, 203, 11, 0.3);
  background: #ffd014;
}

.material-form-button:disabled {
  background: #a6a6a6;
  cursor: not-allowed;
}
