@import url('https://fonts.googleapis.com/css?family=Roboto:400,700|Material+Icons|Product+Sans');

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
}
a {
	color: inherit;
	text-decoration: none;
	transition: padding 150ms ease;
	cursor: pointer;
	border-bottom: 2px solid #fccb0b;
}

a:hover {
	padding-bottom: 2px;
}

input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

.material-icons {
	vertical-align: middle;
}

.title {
  font: 88px 'Product Sans';
  color: black;
  padding: 4px;
  margin-top: 16px;
  margin-left: 14px;
  font-weight: bold;
  display: inline-block;
  user-select: none;
  background-image: linear-gradient(120deg, #fccb0b 0%, #fc590bad 100%);
  background-repeat: no-repeat;
  background-size: 100% 20px;
  background-position: 0 86%;
  border-radius: 15px;
  animation: settingsUnderlineAnimation 2s cubic-bezier(0.67, 0.24, 0.22, 0.96);
}

@keyframes settingsUnderlineAnimation {
  0% {
    background-size: 0 0;
  }
  30% {
    background-size: 0 0;
  }
  60% {
    background-size: 100% 100%;
  }
  90% {
    background-size: 100% 100%;
  }
  100% {
    background-size: 100% 20px;
  }
}

@media only screen and (max-width: 500px) {
  .title {
    background: none;
    animation: none;
    font-size: 70px;
  }
}
